{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": false,
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "embeddedLanguageFormatting": "auto",
    "plugins": ["prettier-plugin-tailwindcss"]
}
